<footer class="offset-top0">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a class="logo-footer" href="index.html"><img src="{{ asset('bundles/lduser/images/logo_footer.png') }}" alt=""></a>
			</div>
			<div class="col-md-9">
				<div class="row footer-separator">
					<div class="col-md-8 col-lg-9">
						<!-- promo  -->
						<div class="promo-footer">
							<span class="text-1">Get Started Today!</span>
							<span class="text-2">1 (800) 123-45-67</span>
						</div>
						<!-- /promo -->
					</div>
					<div class="col-md-4 col-lg-3">
						<!-- social-icon -->
						<ul class="social-icon-footer">
							<li>
								<a href="#" class="icon-facebook-logo"></a>
							</li>
							<li>
								<a href="#" class="icon-twitter-logo-silhouette"></a>
							</li>
							<li>
								<a href="#" class="icon-instagram-social-network-logo-of-photo-camera"></a>
							</li>
						</ul>
						<!-- /social-icon -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2 hidden-sm hidden-xs  pull-right">
				<!-- footer-link -->
				<ul class="footer-link">
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<!-- /footer-link -->
			</div>
			<div class="col-xs-12 col-md-4 col-lg-4 pull-right">
				<!-- time-table -->
				<div class="time-table">
					Mon-Fri: 7:00am-7:00pm
					<br> Sat-Sun: 10:00am-5:00pm
				</div>
				<!-- /time-table -->
			</div>
			<div class="col-xs-12 col-md-3 col-lg-3 pull-right">
				<!-- box-location -->
				<div class="box-location">
					5604 Willow Crossing Ct, Clifton, VA, 20124
				</div>
				<!-- /box-location -->
			</div>
			<div class="col-xs-12 col-md-3 col-lg-3">
				<!-- copyright-box -->
				<div class="copyright-box">
					&copy; 2017 Laundry & Dry Cleaning. All Rights Reserved.
				</div>
				<!-- /copyright-box -->
			</div>
			<div class="col-xs-12 col-md-3 col-lg-2 visible-sm visible-xs pull-right">
				<!-- footer-link -->
				<ul class="footer-link">
					<li><a href="#">Terms and Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<!-- /footer-link -->
			</div>
		</div>
	</div>
	<div class="bubbleContainer"></div>
</footer>