<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-1 col-lg-3 visible-sm visible-xs">
				<!-- box-telephone -->
				<div class="box-telephone ">
					<address>
					  <span class="icon icon-telephone"></span>1 (800) 123-45-67
					</address>
					<div class="time hidden-sm hidden-xs">Mon.-Fri. 7:00 AM to 7:00 PM</div>
				</div>
				<!-- /box-telephone -->
			</div>
			<div class="col-sm-12 col-md-5 col-lg-6">
				<!-- logo -->
				<a class="logo" title="Laundry & Dry Cleaning" href="index.html"><img class="img-responsive" src="{{ asset('bundles/lduser/images/logo.png') }}" alt="Laundry & Dry Cleaning"></a>
				<!-- /logo -->
			</div>
			<div class="col-sm-12 col-md-3 col-lg-3 hidden-sm hidden-xs">
				<!-- box-location -->
				<address class="box-location">
					5604 Willow Crossing Ct, <br>Clifton, VA, 20124
				</address>
				<!-- /box-location -->
			</div>
			<div class="col-sm-12 col-md-4 col-lg-3 hidden-sm hidden-xs">
				<!-- box-telephone -->
				<div class="box-telephone ">
					<address>
                 			1 (800) 123-45-67
              			</address>
					<div class="time hidden-sm">Mon.-Fri. 7:00 AM to 7:00 PM</div>
				</div>
				<!-- /box-telephone -->
			</div>
		</div>
	</div>
	<div class="box-nav">
		<div class="container">
			<div class="row">
				<div class="center">
					<a id="touch-menu" class="mobile-menu" href="#">
						<span class="icon-menu-button-of-three-horizontal-lines"></span>
					</a>
					<nav class="top-menu">
						<ul class="menu">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li>
								<a href="services.html">Services</a>
								<ul>
									<li><a href="#">Laundry Service</a></li>
									<li><a href="#">Dry Cleaning</a></li>
									<li><a href="#">Leather & Suede Cleaning</a></li>
									<li><a href="#">Wedding Gown Cleaning & Preservation</a></li>
									<li><a href="#">Tailoring & Alterations</a></li>
									<li><a href="#">Pillow Refurbishing</a></li>
									<li><a href="#">Linen, Upholstery, & Area Rug Cleaning</a></li>
								</ul>
							</li>
							<li><a href="price.html">Prices</a></li>
							<li>
								<a href="blog.html">Blog</a>
								<ul>
									<li><a href="blog.html">Blog Classic</a></li>
									<li><a href="blog-card.html">Blog Post Card</a></li>
									<li><a href="blog-single.html">Blog Single post</a></li>
								</ul>
							</li>
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- slider revolution -->