<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Title -->
		<title>Neptune</title>

		{% block stylesheets %}		
			{% include 'LdAdminBundle::head.html.twig' %}		  
	    {% endblock %}
	</head>
	<body class="large-sidebar fixed-sidebar fixed-header skin-5">
		<div class="wrapper">

			<!-- Preloader -->
			<div class="preloader"></div>
			{% block sidebar %}		
				{% include 'LdAdminBundle::sidebar.html.twig' %}		  
		    {% endblock sidebar %}
		    
		    {% block header %}
				{% include 'LdAdminBundle::header.html.twig' %}      	        
			{% endblock header %}
		    <div class="site-content">		    	
		    	<!-- Content -->
		    	{% block body %}{% endblock %}
		    	{% block footer %}
			    	{% include 'LdAdminBundle::footer.html.twig' %}      	        
				{% endblock footer %}
		    </div>
		</div>
		
		{% block javascripts %}
			{% include 'LdAdminBundle::script.html.twig' %}  
		{% endblock %}	
    </body>
</html>
